<h1>List of all posts for <%= @user.name %></h1>

<section>
  <div class="card flex">
    <div class="user-image border">
      <img src=<%= @user.photo %> alt="" width="100%" heigth="100%">
    </div>
    <div class="user-data border">
      <h1><%= @user.name %></h1>
      <p class="number-posts">Number of posts: <%= @user.posts_counter %></p>>
    </div>
  </div>
</section>
<section>
  <ul>
    <% @posts.each do |post| %>
      <%= link_to user_post_path(user_id: post.author_id, id: post.id), id: post.id do %>
        <li class="card left">
          <div class="card">
            <h2><%= post.title %></h2>
            <p><%= post.text %></p>
            <div class="right">
              <span>Comments: <%= post.comments_counter %></span>
              <span>Likes: <%= post.likes_counter %> </span>
            </div>
          </div>
          <div class="commets-container">
            <h4>Comments:</h4>
            <ul>
              <% post.recent_comments.includes(:author).each do |comment| %>
                <p><%= comment.author.name %>: <%= comment.text %></p>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "See all users", users_path, class: "btn" %>
</section>


