  <nav>
    <div class="container nav">
      <div class="heading">
        <h2 class="logo"><%= link_to "MY BLOG", users_path %></h2>
      </div>
      <ul class="nav-ul">
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to "My posts", user_posts_path(current_user.id) %></li>
          <li class="nav-link"><%= link_to "Create a post", new_user_post_path(current_user.id) %></li>
          <li class="nav-link">
            <%= link_to user_path(current_user.id) do %>
              <%= current_user.name %>'s profile
            <% end %>
          </li>
          <li class="nav-link"><%= button_to("Log Out", destroy_user_session_path, method: :delete,class: "nav-link", class: "btn") %></li>
        <% else %>
          <li class="nav-link"><%= link_to "Sign in", new_user_session_path %></li>
          <li class="nav-link"><%= link_to "Sign up", new_user_registration_path %></li>

        <% end %>
      </ul>
    </div>
  </nav>